.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: black;
}

.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dialog-content h2 {
  margin-top: 0;
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.dialog-buttons button {
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.dialog-buttons button:hover {
  background-color: #0056b3;
}

.dialog-buttons button:last-child {
  background-color: #dc3545;
}

.dialog-buttons button:last-child:hover {
  background-color: #c82333;
}

.dialog-buttons button.confirm {
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.dialog-buttons button.confirm:hover {
  background-color: #0056b3;
}

.dialog-container.mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: black;
  background-color: transparent; /* 這裡不再有預設的遮罩色 */
}

.dialog-content-main {
  overflow: scroll;
  max-height: 80%;
}
